@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&family=Readex+Pro:wght@200;600&family=Roboto:wght@100;500;700&family=Ubuntu:wght@300;500;700&family=Varela+Round&display=swap');

/* awalan style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

html, body{
    background-image: radial-gradient(#080e67, #060a47);
    background-size: cover;
    font-size: 16 px;
    height: 100vh;

}
/* awalan style */






/* opening container */
.opening-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: all .7s ease;
}

.opening-container.hide{
    opacity: 0;
    visibility: hidden;
}
h1{
    font-size: 3.5rem;
    color: #ddd;
}
.playGameBtn{
    padding: 15px 50px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ddd;
    font-weight: bold;
    background-color: #6366b9;
}
.playGameBtn:active{
    transform: scale(.98);
}
/* opening container */




/* main container */
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in;
}
.main-container.show{
    opacity: 1;
    visibility: visible;
}
.btn-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.btn-container .btn{
    padding: 10px 35px;
    border: none;
    outline: none;
    background-color: #6366b9;
    font-weight: bold;
    color: #ddd;
    border-radius: 2px;
    cursor: pointer;
    z-index: 99;
}
.btn-container .btn:active{
    transform: scale(.99);
}
.img-container{
    display: flex;
    justify-content: space-evenly;
    height: 40%;
}
.img-container .image{
    width: 20%
}
.image.comp{
    transform: rotate(-60deg);
}
.image.player{
    transform: rotate(60deg);
}
.score{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.score .scr{
    border: 5px #363cff solid;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color: #ddd;
}
.scr span{
    font-size: 4rem;
    font-weight: bold;
    margin: auto;
}
/* main container */